<a href="https://colab.research.google.com/github/thunder1234x/Depp-Learning-Model-TENSORFLOW-2.X-/blob/main/Model_01_bank_employee_TF2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%tensorflow_version 2.x
import tensorflow as tf
print(tf.version)

<module 'tensorflow._api.v2.version' from '/usr/local/lib/python3.6/dist-packages/tensorflow/_api/v2/version/__init__.py'>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import files 
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

In [4]:
df=pd.read_csv('Churn_Modelling.csv')
df.head(3)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1

[3 rows x 14 columns]

In [5]:
df2=df.drop(columns=['RowNumber','CustomerId','Surname'])

In [6]:
df2.shape , df.shape

((10000, 11), (10000, 14))

In [7]:
X=df2.drop(columns=['Exited'])
y=df2.Exited

In [8]:
X.head(3)

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57

[3 rows x 10 columns]

In [9]:
y[0:5]

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [11]:
transformer=ColumnTransformer([('encoding',OneHotEncoder(sparse=False),['Geography','Gender'])],
                                     remainder='passthrough'
                                    )

In [12]:
transformer.fit(X)

ColumnTransformer(n_jobs=None, remainder='passthrough', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('encoding',
                                 OneHotEncoder(categories='auto', drop=None,
                                               dtype=<class 'numpy.float64'>,
                                               handle_unknown='error',
                                               sparse=False),
                                 ['Geography', 'Gender'])],
                  verbose=False)

In [13]:
X2=transformer.transform(X)

In [14]:
X2[0:2] , X2.shape

(array([[1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.0000000e+00,
         0.0000000e+00, 6.1900000e+02, 4.2000000e+01, 2.0000000e+00,
         0.0000000e+00, 1.0000000e+00, 1.0000000e+00, 1.0000000e+00,
         1.0134888e+05],
        [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0000000e+00,
         0.0000000e+00, 6.0800000e+02, 4.1000000e+01, 1.0000000e+00,
         8.3807860e+04, 1.0000000e+00, 0.0000000e+00, 1.0000000e+00,
         1.1254258e+05]]), (10000, 13))

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size=0.2, random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
sc=StandardScaler()

In [19]:
sc.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [20]:
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

In [21]:
ann=tf.keras.models.Sequential()

In [22]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [23]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [24]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [25]:
ann.fit(X_train,y_train ,batch_size=32,epochs=10)

Epoch 1/10
250/250 [==============================] - 1s 1ms/step - loss: 0.5843 - accuracy: 0.7910
Epoch 2/10
250/250 [==============================] - 0s 1ms/step - loss: 0.4977 - accuracy: 0.7904
Epoch 3/10
250/250 [==============================] - 0s 1ms/step - loss: 0.4507 - accuracy: 0.8053
Epoch 4/10
250/250 [==============================] - 0s 917us/step - loss: 0.4477 - accuracy: 0.8028
Epoch 5/10
250/250 [==============================] - 0s 1ms/step - loss: 0.4243 - accuracy: 0.8136
Epoch 6/10
250/250 [==============================] - 0s 933us/step - loss: 0.4127 - accuracy: 0.8217
Epoch 7/10
250/250 [==============================] - 0s 976us/step - loss: 0.3927 - accuracy: 0.8272
Epoch 8/10
250/250 [==============================] - 0s 963us/step - loss: 0.3979 - accuracy: 0.8229
Epoch 9/10
250/250 [==============================] - 0s 946us/step - loss: 0.3907 - accuracy: 0.8256
Epoch 10/10
250/250 [==============================] - 0s 913us/step - loss: 0.3948 - accuracy: 0.8272

In [26]:
def bank_model_prediction(X_train,X_test,y_train,y_test):
  df=pd.DataFrame()
  for item in X.columns:
    print(item,end='::')
    current_input=input()
    df[item]=[current_input]

  # print(df)
  
  #preprocessing using previous column transformation
  df2=transformer.transform(df)
  # print(f'transforming done::{df2.shape}')

  #printing the df..
  # print(df2)

  #standardizing data
  df2=sc.transform(df2)

  #predicting with TF model
  print(f'prediction of your data in the form of  the target is:: {ann.predict(df2)}')
  #prediction by classs
  prediction=ann.predict_classes(df2)
  print()

  for x in prediction:
    if x[0]<0.5:
      print('customer will not leave the bank at all')
    else:
      print('customer can leave the bank in future')

In [27]:
bank_model_prediction(X_train,X_test,y_train,y_test)

CreditScore::600
Geography::France
Gender::Female
Age::42
Tenure::3
Balance::60000
NumOfProducts::3
HasCrCard::1
IsActiveMember::1
EstimatedSalary::50000
prediction of your data in the form of  the target is:: [[0.31025913]]

customer will not leave the bank at all

/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [28]:
loss_all , accuracy=ann.evaluate(X_test,y_test,batch_size=32,steps=5)
loss_all , accuracy

5/5 [==============================] - 0s 2ms/step - loss: 0.3740 - accuracy: 0.8000

(0.3739669919013977, 0.800000011920929)

In [29]:
y_predict=ann.predict_classes(X_test)

/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [30]:
from sklearn import metrics

In [31]:
y_predict=y_predict.ravel()

In [32]:
metrics.accuracy_score(y_test,y_predict)

0.8295

In [33]:
metrics.confusion_matrix(y_test,y_predict)

array([[1519,   76],
       [ 265,  140]])